<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Lab</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/competitions/">Competitions</a></li>
            <li><a href="/lessons/">Lessons</a></li>
            <li><a href="/playground/">Playground</a></li>
        </ul>
    </nav>

    <h1>Welcome to ML Lab</h1>
    <p>Welcome to ML Lab, your go-to platform for mastering machine learning! Whether you're a beginner taking your first steps or an experienced practitioner looking to deepen your knowledge, ML Lab offers a wealth of resources to support your learning journey.</p>
    <h2>Features:</h2>
    <ul>
        <li><strong>Interactive ML Playground:</strong> Experiment with datasets, build models, and visualize your results.</li>
        <li><strong>Video Lessons:</strong> Access a comprehensive library of video tutorials covering a wide range of machine learning topics.</li>
        <li><strong>Tests and Quizzes:</strong> Test your knowledge with our interactive quizzes and challenges.</li>
        <li><strong>Competitions:</strong> Participate in regular competitions to apply your skills and compete with others.</li>
    </ul>
    <p>Explore the exciting world of machine learning with us, and let's build the future together!</p>

    <div>
        <h2>Video Lessons</h2>
        <div>
            <h3>Welcome to ML!</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PeMlggyqz0Y" frameborder="0" allowfullscreen></iframe>
            <p>Описание урока 1...</p>
        </div>
    </div>
</body>
</html>
